{% extends "herald/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<!-- ======= Breadcrumbs ======= -->
<section class="breadcrumbs">
    <div class="container">

        <div class="d-flex justify-content-between align-items-center">
            <h2>Reset Password</h2>
            <ol>
                <li><a href="">Home</a></li>
                <li>Password-Reset-Confirm</li>
            </ol>
        </div>

    </div>
</section>
<!-- End Breadcrumbs -->

   <section id="contact" class="contact" style="padding: 0;">
    <div class="container" style="margin-top: 30px; margin-bottom: 30px;">
        <div class="row justify-content-center">

            <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
                <div class="info">
                    <form method="POST">
                        {% csrf_token %}
                        <div class="form-group">
                            {{ form|crispy }}
                        </div>
                        <div class="wrapper" style="text-align: center;"><button class="btn btn-outline-success" type="submit">Reset Password</button></div>
                        <br>
                    </form>
                </div>
            </div>

        </div>

    </div>
</section>

{% endblock content %}
