{% extends "herald/base.html" %}
{% block content %}

<section id="services" class="services section-bg">
    <div class="container" style="margin-top: 70px;">

        <div class="row justify-content-center">
            <div class="col-lg-10 col-md-6 d-flex align-items-stretch mt-4 justify-content-center">
                <div class="icon-box">
                    <h5>Your Password has been reset. You can now login with your new password</h5>
                    <br>
                    <a href="{% url 'login' %}" class="btn btn-outline-success">Back to Login</a>
                </div>

            </div>
        </div>

    </div>
</section>

{% endblock content %}
