{% extends "herald/base.html" %}
{% block content %}

<section id="services" class="services section-bg">
    <div class="container" style="margin-top: 90px; margin-bottom: 130px;">

        <div class="row justify-content-center">
            <div class="col-lg-10 col-md-6 d-flex align-items-stretch mt-4 justify-content-center">
                <div class="icon-box">
                    <h5>Please check your email and go through the sent link for password reset. </h5>
                    <h6>If you did not recive the mail, please check the email and confirm if it's registered email.</h6>
                </div>
            </div>
        </div>

    </div>
</section>

{% endblock content %}
